.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    width: 750px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
}