.second-image {
    padding-top: 40px;
}

.newcollection {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.shopnow {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -50px;
}

.whatsnew {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
    text-align: center;
}
